# ไม่เอาไลบรารีขนาดใหญ่
node_modules/
backend/node_modules/

# ไม่เอา Database (สำคัญ!)
*.db
backend/*.db
*.sqlite
*.sqlite3

# ไม่เอา Log ไฟล์
*.log
npm-debug.log

# ไม่เอาไฟล์ขยะของ Mac/Windows
.DS_Store
Thumbs.db
